* {
	border: none;
	border-radius: 10px;
    font-family: "JetbrainsMono Nerd Font" ;
	font-size: 15px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
	
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
    color: transparent;
	background: transparent;
}
#tags {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: #161320;
	transition: none;
}

#tags button {
	transition: none;
	color: rgba(39, 39, 39, 0.678);
	background: rgb(255, 255, 255);
	font-size: 16px;
	border-radius: 2px;
}

#tags button.occupied {
	transition: none;
	color: #F28FAD;
	background: transparent;
	font-size: 4px;
}

#tags button.focused {
	color: #ABE9B3;
    border-top: 2px solid #ABE9B3;
    border-bottom: 2px solid #ABE9B3;
}

/* #tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #FAE3B0;
    border-color: #E8A2AF;
    color: #E8A2AF;
} */
/* 
#tags button.focused:hover {
    color: #E8A2AF;
} */



#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	
	color: rgb(255, 255, 255);
	background:  rgba(39, 39, 39, 0.678);
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.678);
	border-style: solid;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;

	color: rgb(255, 255, 255);
	background:  rgba(39, 39, 39, 0.678);
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.678);
	border-style: solid;
}

#battery.charging, #battery.plugged {
	color: #161320;
    background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;

	color: rgb(255, 255, 255);
	background:  rgba(39, 39, 39, 0.678);
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.678);
	border-style: solid;
}
#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;

	color: rgb(255, 255, 255);
	background:  rgba(39, 39, 39, 0.678);
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.678);
	border-style: solid;
	/*background: #1A1826;*/
}
tooltip  {
	border-radius: 10px;
		
	/* background-color: #bd93f9;  */
   
	font-family: "JetbrainsMono Nerd Font";
	
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #B5E8E0;
	background: rgba(255, 255, 255, 0);
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
    color: #89DCEB;
    background: #161320;
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #F28FAD;
}

#custom-wallpaper {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #C9CBFF;
}

#custom-updates {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #E8A2AF;
}

#custom-media {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #F2CDCD;
}
button:hover {
	background: inherit;
    box-shadow: inset 0 -3px #ffffff00;
}

/* you can set a style on hover for any module like this */
#workspaces{
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	
	color: rgb(255, 255, 255);
	background:  rgba(39, 39, 39, 0.678);
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.678);
	border-style: solid;
}
#workspaces button {
	padding: 0 5px;
	margin: 2px;
    background-color: transparent;
    color: rgb(255, 255, 255);
	border-radius: 10px;
	border-width: 1px;
	border-color: rgb(255, 255, 255);
	border-style: none;
}


#workspaces button.active  {
	/* background-color: #64727D; */
    /* box-shadow: inset 0 -3px #ffffff; */
	color: rgba(59, 59, 59, 0.568);
	font-weight: 900;
	font-size: 8px;
	background: rgb(255, 255, 255);
	border-radius: 10px;
	border-width: 1px;
	border-color: rgb(255, 255, 255);
	border-style: none;
	background-color: #ffffff;
}


#workspaces button.urgent {
	background-color: #eb4d4b;
}

#mode {
	background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 0px;

	transition: none;

	color: rgb(255, 255, 255);
	background:  rgba(39, 39, 39, 0.678);
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.678);
	border-style: solid;
	border-left-style: none;
}
#bluetooth {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;

	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: 0px;

	transition: none;

	color: rgb(255, 255, 255);
	background:  rgba(39, 39, 39, 0.678);
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.678);
	border-style: solid;
	border-right-style: none;
}
#memory {
	margin-top: 6px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 0px;
	
	transition: none;
	
	color: rgb(255, 255, 255);
	background:  rgba(39, 39, 39, 0.678);
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.678);
	border-style: solid;
	border-left-style: none;
}
#temperature {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	
	border-radius: 0px;
	margin-left: 0px;
	margin-right: 0px;
	
	transition: none;

	color: rgb(255, 255, 255);
	background:  rgba(39, 39, 39, 0.678);
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.678);
	border-style: solid;
	border-right-style: none;
	border-left-style: none;
}
#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: 0px;
	
	
	transition: none;

	color: rgb(255, 255, 255);
	background:  rgba(39, 39, 39, 0.678);
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.678);
	border-style: solid;
	border-right-style: none;
}
span{
	font-family: "JetbrainsMono Nerd Font";
}
p {
	/* text-align: center; */
	font-family: "JetbrainsMono Nerd Font";
	color: #9ca2ff;
}